/.DS_Store
/GG_Chatbot_Tutorial.ipynb
/PROJECT-FLOW-CHART.docx
/Week 05 - Data Collection
/[notebook_facilitator]_week_5_web_scraping_text_for_a_chatbot.py
/dedup.py
/deduplicated_mdc_links.json
/deduplicated_mdc_links.txt
/processed_mdc_links.txt
/~$OJECT-FLOW-CHART.docx